body{
    color: black;
    margin: 0px;
    padding: 0px;
    background: url('img/jpg.jpg');
}
/*.left{
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 34px;
}*/
.left img{
    width: 20px;
    display: block;
    position: absolute;
    top: 10px;
    left: 60px;
}
.left div{
    text-align: center;
    font-size: medium;
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 34px;
}
.mid{
    text-align: center;
    display: block;
    width: 55%;
    margin: 10px auto;
}
.right{
    display: block;
    position: absolute;
    top: 10px;
    right: 0px;
    float: right;
    width: 40%;
    margin: 0px auto;


}
.navbar{
    display: inline-block;
}
.navbar li{
    color: black;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    font-size: larger;
}
.navbar li a{
    color: black;
    text-decoration: none;
    padding: 5px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: aqua;
}
.btn{
    margin: 10px 10px;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
    text-align: right;
    

}
.btn:hover{
    background-color: antiquewhite;
}
.container h1{
    text-align: center;
}
.container{
    margin: 106px 80px;
    padding: 50px;
    width: 20%;
    display: block;
    border-radius: 28px;
}
.form-group input{
    font-size: small;
    margin: 3px auto;
    text-align: center;
    display: block;
    width: 300px;
    padding: 1px;
    border: 2px solid black;
    border-radius: 5px;
}
.container button{
    display: block;
    text-align: center;
    
}