.container{
background-color: wheat;
}
.box{
    background-color: aqua;
    width: 250px;
    height: 250px;
    position: relative;
    animation-name: nikita;
    /*animation-name: nikita1;*/
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-fill-mode: alternate;
    animation-timing-function: ease-in;

}
@keyframes nikita{
    0%{
top: 0px;
left: 0px;
    }
    25%{
top: 250px;
left: 0px;
    }
    75%{
top: 250px;
left: 250px;
    }
    100%{
top: 0px;
left: 250px;
    }
}
/*@keyframes nikita1{
    from{
width: 200px;
    }
    to{
width: 400px;
    }
}